body {
  margin: 0;
  background-color: rgb(150, 169, 209);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.BeerApp {
  height: 100vh;
  overflow-y: auto;
  position: relative;
}


.beer_container_scroll {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100vh;
  gap: 0 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px;
}



.beerCard {
  padding: 20px 32px;
  background-color: rgb(236, 244, 255);
  box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: .2s;
}

.beerCard.selected {
  background-color: rgb(77, 77, 110);
  color: white;
}

.beerCard img {
  height: 100px;
}

.beerCard>* {
  text-align: center;
}

.beerCard h1,
.beerCard h3 {
  height: 56px;
  font-size: 1.3rem;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.beerCard h3 {
  height: 38px;
  font-size: 0.9rem;
}

.beerCard p {
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 0;
}

.abv {
  font-size: 1.5rem;
  font-weight: 900;
}

.deleteBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 16px;
  border: none;
  background-color: rgb(238, 124, 98);
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.page_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  transition: .5s;
  z-index: 999;
}

.page_wrapper:has(.info_container) {
  background-color: rgba(0, 0, 0, 0.404);
  left: 0;
  bottom: 0;
}

.page_wrapper>div {
  box-sizing: border-box;
  background-color: rgb(77, 77, 110);
  width: 100%;
  padding: 32px;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s;
  overflow: auto;
  color: white;
}

.page_wrapper>div:empty {
  padding: 0;
  right: -100%;
}

.page_wrapper>div:not(:empty) {
  bottom: 0;
}

.page_wrapper button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border-radius: 12px;
  background-color: rgb(146, 115, 115);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);

}

.page_wrapper img {
  position: absolute;
  top: 100px;
  right: 50px;
  height: 300px;
}

.page_wrapper .info_container {
  width: max(calc(100% - 300px), 250px);

}

.info_wrapper {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .page_wrapper img {
    display: none;
  }
  .page_wrapper>div {
    width: 100%;
  }
  .beerCard *:not(img, h1, span, div) {
    display: none;
  }
  .beerCard img {
    height: 50px;
  }
  .beerCard h1 {
    font-size: 14px;
  }
  .abv {
    font-size: 12px;
  }
}